@charset "ISO-8859-1";

html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

@media only screen and (min-width: 230px) {
	body {
		background-image:
			url(https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/7/0/6/3/783607-1-eng-GB/Big-data-Exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}