<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Kitchen App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  	<form action="#" th:action="@{/addingredient}" th:object="${ingredient}" method="get">
    	<p>Ingredient name: <input type="text" th:field="*{name}" /></p>
        <p>quantity: <input type="text" th:field="*{quantity}" /> </p>
        <p>unit: <input type="text" th:field="*{unit}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form> 
</body>
</html>