<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Kitchen App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"  
      href="../static/css/addIngredient.css" th:href="@{/css/addIngredient.css}" />
</head>
<body>
  	<form action="#" th:action="@{/addingredient}" th:object="${ingredient}" method="get">
    	<p>Ingredient name: <input type="text" th:field="*{name}" /></p>
        <p>quantity: <input type="text" th:field="*{quantity}" /> </p>
        <p>unit: <input type="text" th:field="*{unit}" /></p>
        <p><button type="submit">Submit</button> <button type="reset">Reset</button></p>
    </form> 
    <div class="button">
		<a th:href="@{/inventory.html}">The list of your ingredients at home</a>
	</div>
</body>
</html>